<div as-m-t="4">
    <div as-f="xl bold">
        <center>{{event.title}}'s Playlist</center>
    </div>
    <div as-m-y="8">
        <div as-p-y="2" class="row">
            <div class="col-sm-12 no-margin">
                <input ng-model="search" as-i-text placeholder="Search for a song..."/>
            </div>
        </div>
        <!-- HIDDEN PORTION -->
        <div ng-if="results.length > 0" as-f="m normal">
            <div as-card>
                <div class="songs">
                    <div ng-repeat="result in results | limitTo:5" as-f="m normal" class="row song">
                        <div class="col-sm-1 no-margin text-center">
                            <img ng-click="addSong(result)" ng-src=require("../../images/addSong.svg ") width="17px" height="auto"/>
                        </div>
                        <div class="col-sm-4 no-margin">
                            {{result.track}}
                        </div>
                        <div class="col-sm-4 no-margin">
                            {{result.artist}}
                        </div>
                        <div class="col-sm-3 no-margin">
                            {{result.album}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HIDDEN PORTION -->
    </div>
    <div as-f="l bold">Current Lineup</div>
    <div as-card as-p-xy="4" ng-if="lineup.length == 0">
        <div class="text-center">
            No songs have been added
        </div>
    </div>
    <div as-card ng-if="lineup.length > 0">
        <div class="lineup">
            <div ng-repeat="song in lineup" as-f="m normal" class="row song">
                <div class="col-sm-1 no-margin text-center">
                    <img ng-click="removeSong(song)" ng-src=require("../../images/removeSong.svg ") width="17px" height="auto"/>
                </div>
                <div class="col-sm-4 no-margin">
                    {{song.track}}
                </div>
                <div class="col-sm-5 no-margin">
                    {{song.artist}}
                </div>
                <div class="col-sm-2">
                    {{song.userName}}
                </div>
            </div>
        </div>
    </div>
</div>
