<div class="max-width" as-p-t="4">
    <div as-card as-p-xy="4">
        <div as-m-b="2">
            <span as-f="l bold">Create an event</span>
        </div>
        <input as-i-text placeholder="Event name" as-m-y="2" ng-model="name"/>
        <span as-f="l normal">Choose a theme</span>
        <div class="themes" as-m-t="2">
            <div ng-if="themes.length !== 0">
                <div ng-repeat="theme in themes">
                    <div ng-click="chooseTheme(theme)" class="theme-preview col-sm-4" style="background: url({{theme.small}}); background-position: center center; background-size: cover"></div>
                </div>
            </div>
        </div>
        <div as-m-y=2 ng-if="theme">
            Theme: {{theme.name}}
        </div>
        <input as-i-text placeholder="Event location" as-m-y="4" ng-model="location"/>
        <div class="row text-center" as-p-y="2">


            <div class="col-md-6 no-margin">
                <div class="row">
                    <div class="col-xs-5 no-margin">
                        <md-datepicker ng-model="dateFrom" md-placeholder="Date From"></md-datepicker>
                    </div>
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-3 no-margin">
                                <input as-i-text placeholder="12" ng-model="timeFrom.hours" maxlength="2"/>
                            </div>
                            <div class="col-xs-1" as-m-t="2">
                                <span as-f="m normal">:</span>
                            </div>
                            <div class="col-xs-3 no-margin">
                                <input as-i-text placeholder="00" ng-model="timeFrom.minutes" maxlength="2"/>
                            </div>
                            <div class="col-xs-4 no-margin">
                                <select ng-model="timeFrom.twelve">
                                    <option value="am">am</option>
                                    <option value="pm">pm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 no-margin">
                <div class="row">
                    <div class="col-xs-6 no-margin">
                        <md-datepicker ng-model="dateTo" md-placeholder="Date To"></md-datepicker>
                    </div>
                    <div class="col-xs-6">
                        <div class="row" style="width: 160px">
                            <div class="col-xs-4 no-margin">
                                <input as-i-text placeholder="12" ng-model="timeTo.hours" maxlength="2"/> :
                            </div>
                            <div class="col-xs-4 no-margin">
                                <input as-i-text placeholder="00" ng-model="timeTo.minutes" maxlength="2"/>
                            </div>
                            <div class="col-xs-4 no-margin">
                                <select ng-model="timeTo.twelve">
                                    <option value="am">am</option>
                                    <option value="pm">pm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span as-f="l normal">Invite People</span>
        <div class="row" as-m-t="2">
            <div class="col-sm-8 no-margin" as-p-r="2">
                <input as-i-text placeholder="Enter email" ng-model="invite"/>
            </div>
            <div class="col-sm-4 no-margin" as-p-l="2">
                <button as-i-button-good ng-click="addPerson()">Invite</button>
            </div>
        </div>
        <div as-m-y="2">
            <span as-f="m normal" ng-if="invites.length > 0">Invites</span>
            <div ng-repeat="i in invites">
                <div class="invite row">
                    <div class="col-xs-8 no-margin">
                        {{i.email}} - {{i.name}}
                    </div>
                    <div class="col-xs-4 no-margin">
                        <div ng-click="removePerson(i.id)">Uninvite</div>
                    </div>

                </div>
            </div>
        </div>
        <button as-i-button as-m-y="2" ng-click="create()">Create Event</button>
    </div>
    <div as-m-t="2">
        <span as-f="s normal">{{message}}</span>
    </div>
</div>
