<div as-card as-m-b="4">
    <div as-p-xy="4">
        <div class="row text-center">
            <div class="col-sm-6">
                <div as-f="l bold">
                    {{event.title}}
                </div>
                <div as-f="m normal">
                    {{event.dateStart | date:'MMMM d, yyyy'}} -
                    {{event.dateEnd | date:'MMMM d, yyyy'}}
                </div>
            </div>
            <div class="col-sm-6">
                <div as-f="l bold">
                    Guests
                </div>
                <div as-f="m normal">
                    Guest invited: {{guests.count}}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- WEATHER -->
<div as-card as-m-b="4">
    <div as-p-xy="4">
        <div class="row text-center">
            <div class="col-sm-12">
                <div as-f="l bold">
                    Weather Forecast
                </div>
                <div as-f="m bold">
                    {{location}}
                </div>
                <div as-f="m normal">
                    {{event.dateStart | date:'MMMM d, yyyy'}}
                </div>
                <div as-f="m bold" style="margin-top: 10px">
                </div>
                <div as-f="m normal">
                    Temperature: {{weather.temperature}}
                </div>
                <div as-f="m normal">
                    Chance of Rain: {{weather.precipProbability}}%
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GUEST REPLYS -->
<div as-m-b="2">
    <span as-f="l bold">Guests</span>
</div>

<div as-card as-m-b="4">
    <div role="tablist" class="card-tabs row">
        <div ng-click="tab = 'yes'" ng-class="{selected: tab == 'yes'}" class="col-sm-3 tab">Yes</div>
        <div ng-click="tab = 'maybe'" ng-class="{selected: tab == 'maybe'}" class="col-sm-3 tab">Maybe</div>
        <div ng-click="tab = 'no'" ng-class="{selected: tab == 'no'}" class="col-sm-3 tab">No</div>
        <div ng-click="tab = 'pending'" ng-class="{selected: tab == 'pending'}" class="col-sm-3 tab">Pending</div>
    </div>
    <div ng-if="tab == 'yes'">
        <div as-p-xy="4" class="text-center" ng-if="guests.yes.length == 0">
            No one has said yes.
        </div>
        <div ng-if="guests.yes.length != 0">
            <div ng-repeat="guest in guests.yes" as-p-xy="4">
                {{guest}}
            </div>
        </div>
    </div>

    <div ng-if="tab == 'maybe'">
        <div as-p-xy="4" class="text-center" ng-if="guests.maybe.length == 0">
            No one has said maybe.
        </div>
        <div ng-if="guests.maybe.length != 0">
            <div ng-repeat="guest in guests.maybe" as-p-xy="4">
                {{guest}}
            </div>
        </div>
    </div>

    <div ng:show="tab == 'no'">
        <div as-p-xy="4" class="text-center" ng-if="guests.no.length == 0">
            No one has said no.
        </div>
        <div ng-if="guests.no.length != 0">
            <div ng-repeat="guest in guests.no" as-p-xy="4">
                {{guest}}
            </div>
        </div>
    </div>

    <div ng:show="tab == 'pending'">
        <div as-p-xy="4" class="text-center" ng-if="guests.pending.length == 0">
            There are no pending invites.
        </div>
        <div ng-if="guests.pending.length != 0">
            <div ng-repeat="guest in guests.pending" as-p-xy="4">
                {{guest}}
            </div>
        </div>
    </div>
</div>

<!-- DELETE BUTTON -->
<div as-card as-p-xy="4" ng-if="isHost">
    <div class="row">
        <div class="col-sm-6 no-margin">
            <div as-f="l bold">Delete this event</div>
            <div as-m-t="2">
                <div as-f="m normal">
                    This is an action that cannot be undone.
                </div>
            </div>
        </div>
        <div class="col-sm-6 no-margin">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 no-margin">
                <button as-i-button-bad ng-click="delete()">Delete</button>
            </div>
        </div>
    </div>
</div>
