.bottom-card-tabs {
    border-top: 1px solid #EEEFF3;
    margin: 0;
}
.bottom-card-tab {
    text-align: center;
    color: #ACADAD;
    border-right: 1px solid #EEEFF3;
}
.bottom-card-tab:last-child {
    border-right: 0px solid #fff;
}
.event .picture {
    width: 200px;
    height: 100px;
    float: left;
}
.event .info {
    width: calc(100% - 200px);
    float: right;
}
.event .main {
    margin: 0;
}
