.bottom-card-tabs {
    border-top: 1px solid #EEEFF3;
    margin: 0;
}
.bottom-card-tab {
    text-align: center;
    color: #ACADAD;
    border-right: 1px solid #EEEFF3;
}
/*.bottom-card-tab:last-child {
    border-left: 0px solid #fff;
}*/
.event .picture {
    height: 100px;
}
/*.event .info {
    width: calc(100% - 200px);
    float: right;
}*/
.event .main {
    margin: 0;
}
.event .selected {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
}
