
.bottom-card-tabs {
    border-top: 1px solid #EEEFF3;
    margin: 0;
    width: 100%;
}
.bottom-card-tab {
    text-align: center;
    color: #ACADAD;
}
.bottom-card-tab:nth-child(2) {
    border-left: 1px solid #EEEFF3;
    border-right: 1px solid #EEEFF3;
}
.event .picture {
    height: 100px;
}
.event .main {
    margin: 0;
    outline: none;
}
.event .selected {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
}
