body, html {
    background-color: #ECE9E8;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    outline: none;
    display:block;
    overflow:auto;
    color: #202020;
}
.max-width {
    max-width: 960px;
    margin: 0 auto;
}
.small-max-width {
    max-width: 400px;
    margin: 0 auto;
}
.row {
    margin: 0;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.no-margin {
    margin: 0;
    padding: 0;
}
.outline-card {
    border-radius: 0px;
    border: 2px solid #ED9DBB;
}
.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
.content {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
