body {
    background-color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.max-width {
    max-width: 960px;
    margin: 0 auto;
}
.small-max-width {
    max-width: 400px;
    margin: 0 auto;
}
.row {
    margin: 0;
}
.text-center {
    text-align: center;
}
.no-margin {
    margin: 0;
    padding: 0;
}
