<div class="event-header">
    <div class="img" style="background: url({{image}}); background-position: center center; background-size: cover"></div>
    <div class="info" as-p-xy="4">
        <div class="row">
            <div class="col-sm-6 no-margin">
                <span as-f="l bold">{{event.title}}</span>
            </div>
            <div class="col-sm-6 no-margin text-right" as-p-t="2">
                <span as-f="s normal">{{event.dateStart | date:'MMM d, yyyy'}} | </span>
                <span as-f="s normal">Hosted by: {{host.name}}</span>
            </div>
        </div>
    </div>
</div>

<div class="new-post" as-m-t="4">
    <textarea ng-model="newPostContent" placeholder="Share something..."></textarea>
    <div as-p-xy="2" class="row">
        <div class="col-sm-6 no-margin" as-p-r="2">
            <button as-i-button ng-click="newPost()">Upload</button>
        </div>
        <div class="col-sm-6 no-margin" as-p-="2">
            <button as-i-button-good ng-click="newPost()">Post</button>
        </div>
    </div>
</div>

<div ng-if="posts.length == 0">
    <div class="text-center" as-m-t="4">
        There are no posts yet
    </div>

</div>

<div ng-repeat="post in posts">
  <div as-card as-m-y="4">
    <div as-p-xy="4">
      <div as-f="m bold">{{post.userId}}<span as-f="s normal"> - {{post.timestamp | date:'MMMM d, yyyy'}}<span style="color:red" as-p-l="3" ng-if="isHost" ng-click="deletePost(post._id)">Delete</span></span></div>
      <div as-p-t="2">{{post.text}}</div>
    </div>
  </div>
</div>
