<header class="row">
    <div class="logo">
        <img ng-src=require("../../images/turnipLogoNewThickButCute.svg ") width="27px" height="auto"/>
    </div>
    <nav>
        <div class="nav-item" ui-sref=".events" ng-class="$root.eventSelected" ng-click="setSelectedClass('/events')">
            <img ng-src=require("../../images/events.svg ") width="22px" height="auto"/>
            Events
        </div>
        <div class="nav-item" ui-sref=".feed" ng-class="$root.feedSelected" ng-click="setSelectedClass('/feed')">
            <img ng-src=require("../../images/feed.svg ") width="20px" height="auto"/>
            Feed
        </div>
        <div class="nav-item" ui-sref=".profile" ng-class="$root.profileSelected" ng-click="setSelectedClass('/profile')">
            <img ng-src=require("../../images/myProfile.svg ") width="22px" height="auto"/>
            Profile
        </div>
        <div class="nav-item" ui-sref=".create" ng-class="$root.createSelected" ng-click="setSelectedClass('/create')">
            <img ng-src=require("../../images/createEvent.svg ") width="22px" height="auto"/>
            Create
        </div>
    </nav>
</header>
<div ui-view class="content"></div>
